a {
    text-decoration: none;
}
li {
    list-style: none;
}
html,
body {
    position: relative;
    overflow: auto;
    height: 100vh;
}
body {
    font-family: $noto-sans-jp;
    font-size: 14px;
    color: #000;
    margin: 0;
}
